[Desktop Entry]
Version=1.1
Type=Application
Name=Sensor Viewer
GenericName=Sensor Values Viewer
NoDisplay=true
Comment=Show sensor values.
Icon=xfce-sensors
Exec=xfce4-sensors
Actions=
Categories=Monitor;System;Utility;X-XFCE;
StartupNotify=true
